node_modules/
ts/node_modules/
dist/


# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Rework
.rework/

.opencode/
opencode.jsonc

# Planning artifacts
.sisyphus/
